- var img = '../assets/img/merlvova.jpg';
- var job = 'Заступник міського голови з питань житлово-комунального господарства, позаштатний радник міського голови з питань житлової інфраструктури';
- var name = 'Андрій Іванович Садовий';
- var btn = 'Дізнатись більше';
- var sub = 'Управління інформаційної політики та зовнішніх відносин';
section.lmrWrapper
    ul.lmr-tree
        li.lmr-branch
            span.draw-dot.draw-dot--mer-mista
            .departament.departament--mer-mista
                ul.stuff-list.stuff-list--mer-mista
                    li.stuff-item.stuff-item--mer-mista
                        .stuff-head.stuff-head--mer-mista
                            img.stuff-head__avatar.stuff-head__avatar--mer-mista(src=img)
                        .stuff-desc.stuff-desc--mer-mista
                            span.stuff-desc__name.stuff-desc__name--mer-mista Андрій Іванович Садовий 
                            span.stuff-desc__job.stuff-desc__job--mer-mista мер міста Львова
        li.lmr-branch
            span.draw-dot
            .departament
                span.departament__name Заступники міського голови
                ul.stuff-list
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
            
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
                    li.stuff-item
                        .stuff-head
                            img.stuff-head__avatar(src=img)
                        .stuff-desc
                            span.stuff-desc__name #{name}
                            span.stuff-desc__job #{job}
                            button.btn.stuff-desc__btn #{btn}
                        span.stuff-item__chain
                            i.fa.fa-link
                                
            li.lmr-branch
                span.draw-dot
                .departament
                    span.departament__name Заступники міського голови
                    ul.stuff-list
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link
                
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link
                        li.stuff-item
                            .stuff-head
                                img.stuff-head__avatar(src=img)
                            .stuff-desc
                                span.stuff-desc__name #{name}
                                span.stuff-desc__job #{job}
                                button.btn.stuff-desc__btn #{btn}
                            span.stuff-item__chain
                                i.fa.fa-link

                li.lmr-branch
                    span.draw-dot
                    .departament
                        span.departament__name Заступники міського голови
                        ul.stuff-list
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                    
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                            li.stuff-item
                                .stuff-head
                                    img.stuff-head__avatar(src=img)
                                .stuff-desc
                                    span.stuff-desc__name #{name}
                                    span.stuff-desc__job #{job}
                                    button.btn.stuff-desc__btn #{btn}
                                span.stuff-item__chain
                                    i.fa.fa-link
                li.lmr-branch
                    span.draw-dot
                    .departament
                        span.departament__name(data-type='togleList') Управління
                        .toggleListWrapper
                            ul.stuff-list
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                        
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                li.lmr-branch
                    span.draw-dot
                    .departament
                        span.departament__name(data-type='togleList') Районні адміністрації
                        .toggleListWrapper
                            ul.stuff-list
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                        
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                        i.fa.fa-link
                                li.stuff-item
                                    .stuff_sub-name #{sub}
                                    .stuff-head
                                        img.stuff-head__avatar(src=img)
                                    .stuff-desc
                                        span.stuff-desc__name #{name}
                                        span.stuff-desc__job #{job}
                                        button.btn.stuff-desc__btn #{btn}
                                    span.stuff-item__chain
                                                                    i.fa.fa-link
